footer{
    background: $purple-dark;
    padding: 40px 10px 20px;
    position: relative;
    color: white;
    font-family: $title-font;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0px;
    text-align: center;

    img{
        width: 100px;
        margin-bottom: 10px;
    }

    .made{
        border-top: 1px solid white;
        padding-top:5px;
        margin: 10px 0;
        text-align: center;
    }

    .icon_media{
        font-size: 25px;
        margin: 0 10px;
    }

    .custom-shape-divider-top-1671653195 {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1671653195 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 39px;
    }
    
    .custom-shape-divider-top-1671653195 .shape-fill {
        fill: white;
    }

    .container_information{
        display: grid;
        grid-template-columns: auto auto;

        .container_social-media{
            text-align: center;
        }
        p{
            padding: 0;
            margin: 0;
        }
        
    }
}


.fill-black .custom-shape-divider-top-1671653195 .shape-fill{
    fill: $black;
    margin: 0;
}

@media screen and (min-width:768px) {
    footer{
        display: grid;
        padding: 40px 40px 20px;
        grid-template-columns: 50% auto;
        align-items: center;

        img{
            width: 100px;
            margin-left: 30px;
        }

        .made{
            grid-column: span 2;
            width: 100%;
        }
    }
    
}