header{
    background: $purple-dark;
    display: grid;
    align-items: center;
    grid-template-columns: auto min-content min-content;
    padding: 8px 40px;
    font-family: $title-font;
    font-size: 20px;
    position: fixed;
    margin-top: -60px;
    width: 100%;
    z-index: 100;

    .container_logo{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    img{
        width: 120px;
        text-align: left;
    }

    nav{
        display: none;
    }

    a{
        margin: 0 15px 0 0;
    }

    .icon_shop{
        font-size: 20px;
    }

    .link_icon{
        border: 1px solid white;
        padding: 5px;
        position: relative;
        font-size: 10px;
        
        &:hover{
            color: white;
        }
    }

    .icon_menu{
        color: white;
        font-size: 30px;
    }

    .item_total{
        position: absolute;
        top: 0;
        right: 2px;
    }
} 

.menu_mobile{
    background: $purple-light;
    width: 50%;

    .image-menu{
        height: 200px;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .head{
        // background:url('../../../assets/img/banner-search2.png') center/cover;
        height: 61px;
        border: 1px solid $purple-dark;
        margin-left: -2px;
        background:$purple-dark;
        position: relative;

        .icon{
            color: white;
            font-size: 20px;
            position: absolute;
            right: 20px;
        }

        img{
            height: 50px;
        }
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        text-align: center;
        font-size: 16px;
    }

    .link_mobile{
        color: $black;
        padding: 15px;
        border-bottom: 1px solid $black;

        &:hover{
            transition-duration: 300ms;
            background: #b5a1f8c4;
            transform: translate(2px);
        }
    }
}

    .link_nav{
        padding: 5px;
        &:hover{
            transition-duration: 300ms;
            background: #b5a1f83e;
            transform: translate(2px);
            color: white;
            border-radius: 3px;
            border-bottom: 1px solid white;
        }
    }

    .link_active{
        border-bottom: 1px solid white;
        background: #C6B8F3;
        color: white;
    }



@media screen and (min-width:768px) {
    header{
        grid-template-columns: auto 250px;
        padding: 10px 50px;
        font-family: $title-font;
        font-size: 20px;
        margin-top: -75px;
    
        img{
            width: 150px;
        }
    
        nav{
            display: flex;
            align-items: center;
            width: min-content;
        }
    
        a{
            margin: 0 10px;
        }
    
        .icon_shop{
            font-size: 20px;
        }
    
        .link_icon{
            border: 1px solid white;
            padding: 5px;
        }

        .icon_menu, .cart_icon{
            display: none;
        }
    } 
}