.button_category{ 
    border-radius:25px;
    padding: 5px 10px 5px 5px;
    background: $purple-light;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    width: 100%;

    &:hover{
        transition: 300ms ease;
        background-color: #9085b7;
        padding: 5px 10px 5px 5px;
    }

    img{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.453), -1px -1px 2px rgba(0, 0, 0, 0.453);
    }
}

.button_active {
    border-radius:25px;
    padding: 5px 10px 5px 5px;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    background: $purple-dark;
    color: white;

    &:hover{
        background: #760181;
    }
}

// .all__btn{
//     position: relative;

//     &:after{
//         content: '';
//         width: 20px;
//         height: 20px;
//         top: 10px;
//         right: 10px;
//         background: rgb(255, 255, 255);
//         position: absolute;
//         z-index: 1;
//         clip-path: polygon(62% 0, 100% 50%, 66% 100%, 33% 100%, 66% 50%, 31% 0);
//     }

//     &:after:hover{
//         background: aqua;
//     }
// }

// .button_category{
//     display: none;
// }

// .all__btn{
//     display: flex;
// }

// .show{
//     display: flex;
// }

// .hidden{
//     display: none;
// }

@media screen and (min-width:1000px) {
    .button_category{ 
        width: max-content;
    }
}