.button_category{
    border-radius:25px;
    padding: 5px 10px 5px 5px;
    background: $purple-light;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;

    &:hover{
        transition: 300ms ease;
        background-color: #9085b7;
        padding: 5px 10px 5px 5px;
    }

    img{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.453), -1px -1px 2px rgba(0, 0, 0, 0.453);
    }
}

.button_active {
    border-radius:25px;
    padding: 5px 10px 5px 5px;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    background: $purple-dark;
    color: white;

    &:hover{
        background: #760181;
    }
}