.modal_container{
    background: rgba(40, 40, 42, 0.384);

    .modal_header{
        background: $purple-light;
        
        .modal_icon{
            color: green;
            font-size: 20px;
        }

    }

    .modal_body{

        padding: 10px;
        display: grid;
        grid-template-columns: 300px 1fr;

        h1{
            font-size: 30px;
            margin-right: 10px;
            color: $purple-dark;
            border-bottom: 1px solid black;
            font-family: $title-font;
        }

        div:first-of-type{
            width: 250px;
            height: 250px;
            margin: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .modal_footer{
        .button_modal{
            background-color: transparent;
            border: 2px solid #000;
            border-radius: 0;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin: 0;
            outline: none;
            overflow: visible;
            padding: .7em 2em;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            transition: all 0.3s ease-in-out;
            user-select: none;
            font-size: 13px;
        }
    }
}