@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: $paragraph-font;
    margin-bottom: 253px;
    background: url('../../assets/img/bg-products.png') center/contain;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: $title-color;
    font-family: $title-font;
    font-weight: 900;
}