@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$purple-dark: #4F0056;
$purple-light: #C6B8F3;
$black: #1D1A1E;
$title-color: #AC25C1;
$title-font: 'Lato', sans-serif;
$paragraph-font : 'Poppins', sans-serif;