.banner_container {
    position: relative;
    margin-bottom: -65px;
    z-index: 10;
    height: 80vh;

    .banner {
        object-fit: cover;
        right: 0;
        width: 100%;
        object-position: -400px 0;
        height: 100%;
        z-index: 10;
    }
}

.summary {
    display: flex;
    flex-direction: column;

    img:first-child {
        width: 96vw;
        z-index: 1;
    }

    .description {
        width: 95%;
        display: flex;
        margin: auto;
        flex-direction: column;

        div {
            width: 80%;
            margin: 0 auto;
        }
    }

    h1 {
        width: 80%;
        font-size: 40px;
        width: 280px;
        margin: auto;
    }

    h1:last-of-type {
        text-align: end;
    }

    p {
        font-size: 16px;
        text-align: start;
        width: 95%;
        margin: 14px auto;
    }
}

.products_catalogue {
    background: url('../../assets/img/bg-home.png') center/contain $black;
    padding: 50px 5%;
    position: relative;
    margin-bottom: -40px;

    h1 {
        font-size: 25px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    article {
        display: grid;
        width: 95%;
        max-width: 500px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 0 auto;

        div {
            overflow: hidden;
            max-height: 250px;
        }

        .curve_top {
            border-radius: 50% 0 0 0;
        }

        .curve_bottom {
            border-radius: 0 0 50% 0;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .button {
        margin: 20px auto 0;
    }
}

.bg-color {
    background: white;
    min-width: 235px;
    width: 85%;
    max-width: 250px;
    height: 40px;
    bottom: 25%;

    position: relative;
    margin: 20px auto 0;

    .button {
        bottom: 0;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
    }
}

.btn_catalog {

    .button {
        bottom: unset;
        top: unset;
        margin: 0;
    }
}

@media screen and (min-width:535px) {
    .banner_container {

        .banner {
            object-position: unset;
        }
    }

    .bg-color {
        width: 280px;
        position: relative;
        left: -20%;
    }

    .btn_catalog {
        bottom: 0;
        left: 0;
    }


}

@media screen and (min-width:768px) {
    .banner_container {
        margin-bottom: -62px;
        height: 90vh;
    }

    .summary {
        display: grid;
        grid-template-columns: 54% 46%;
        margin-top: 60px;

        img:first-child {
            width: 100%;
        }

        .description {
            width: 100%;
            align-items: flex-end;
        }

        p {
            text-align: end;
            margin: 30px auto;
        }
    }

}

@media screen and (min-width:1024px) {

    .summary {
        display: grid;
        grid-template-columns: 45% 55%;


        .description {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: min-content;

            div {
                width: 90%;
                margin: 0 auto;
            }
        }

        h1 {
            width: 70%;
            font-size: 60px;
        }

        h1:last-of-type {
            text-align: end;
        }

        p {
            font-size: 18px;
            text-align: end;
            width: 100%;
            margin: 30px auto;
        }
    }

}

@media screen and (min-width:1400px) {
    .summary {
        .description {
            width: 84%;

        }

        h1 {
            width: 80%;
            font-size: 80px;
        }


        p {
            font-size: 18px;
            text-align: end;
            width: 100%;
            margin: 30px auto;
        }
    }

    .products_catalogue {
        &:before {
            content: '';
            background: $black;
            position: absolute;
            top: -80px;
            width: 100%;
            height: 80px;
            left: 0;
        }
    }
}