.container_detail{
    padding-top: 0px;
    display: grid;
    gap:15px;
    justify-content: center;

    .section_one{
        display: grid;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    article:first-child{
        margin: 0px 0;
        display: grid;
        grid-template-columns: 1fr;

        .container_image{
            width: 100%;
            max-width: 350px;
            height: 300px;
            background-color: beige;
            margin:0 auto 10px;
            border-radius: 10px;
        }

        .detail_image{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

    .separators{
        display: flex; 
        justify-content: center;
        border-bottom: 2px solid #C870D6;
        margin-top: 0px;

        .separator{
            clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
            height: 30px;
            width: 150px;
            background: $purple-light;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .separator:first-of-type{
            background: #EDC6F3;
        }
    }

    .product_description{
        width: 90%;
        max-width: 610px;
        margin:20px auto 10px;
        font-size: 15px;
    }

    .content{
        height: 50px;
        padding: 10px;
        width: 100%;
        border-bottom: 2px solid #C870D6;
    }
    
}

@media screen and (min-width:350px){
    .container_detail{
        padding-top: 50px;
    }
}

@media screen and (min-width:768px) {
    .container_detail{
        padding-top: 50px;

        .section_one{
            display: grid;
            justify-content: center;
            width: 90%;
            margin: auto;
        }
    
        article:first-child{
            margin: 0px 0;
            display: grid;
            gap:10px;
            grid-template-columns: repeat(2, 1fr);
    
            .container_image{
                width: 90%;
                max-width: 350px;
                height: 400px;
                background-color: beige;
                margin: auto;
                border-radius: 10px;
            }
    
            .detail_image{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    
        .separators{
            display: flex; 
            justify-content: center;
            border-bottom: 2px solid #C870D6;
            margin-top: 30px;
    
            .separator{
                clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
                height: 30px;
                width: 220px;
                background: $purple-light;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .separator:first-of-type{
                background: #EDC6F3;
            }
        }

        .product_description{
            width: 90%;
            max-width: 865px;
            margin:20px auto 10px;
            font-size: 15px;
        }
    
        .content{
            height: 50px;
            padding: 10px;
            width: 100%;
            border-bottom: 2px solid #C870D6;
        }
        
    }
}

@media screen and (min-width:1024px) {
    .container_detail{
        .section_one{
            width: 100%;
        }
        article:first-child{
            gap:40px;
        }
    }
}
